@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-pure-white: #ffffff;
    --color-red: #fc4747;
    --color-dark-blue: #10141e;
    --color-greyish-blue: #5a698f;
    --color-semi-dark-blue: #161d2f;
    --color-background-image: #cbd5e131;
  }
  *,
  *::before,
  *::after {
    @apply box-border p-0 m-0;
  }
}
